
.skill-container {
    width: 80%;
    max-width: 600px;
}

.skill {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.skill-icon {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

.skill-bar {
    width: 100%;
    background-color: #ddd;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.skill-percentage {
    height: 20px;
    width: 0;
    background-color: #4caf50; /* Default color */
    text-align: right;
    line-height: 20px;
    color: white;
    padding-right: 5px;
    border-radius: 5px;
    transition: width 1.5s ease-in-out;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.percentage-text {
    position: absolute;
    right: 10px;
    font-weight: bold;
    color: #fff;
}

/* Specific colors for each skill */
.skill:nth-child(1) .skill-percentage {
    background-color: #e44d26; /* HTML Color */
}

.skill:nth-child(2) .skill-percentage {
    background-color: #264de4; /* CSS Color */
}

.skill:nth-child(3) .skill-percentage {
    background-color: #f7df1e; /* JavaScript Color */
    color: #000;
}

.skill:nth-child(4) .skill-percentage {
    background-color: #555555; /* C Color */
}

.skill:nth-child(5) .skill-percentage {
    background-color: #306998; /* Python Color */
}

.skill:nth-child(6) .skill-percentage {
    background-color: #8993be; /* PHP Color */
}